
.icon-bhwnw-cs2ue {
	background-image: url('png/bhwnw-cs2ue.png');
	background-repeat: no-repeat;
}

.icon-ba3w4-f0z44 {
	background-image: url('png/ba3w4-f0z44.png');
	background-repeat: no-repeat;
}

.icon-bdgst-tz7q3 {
	background-image: url('png/bdgst-tz7q3.png');
	background-repeat: no-repeat;
}

.icon-ba7d3-zoyx5 {
	background-image: url('png/ba7d3-zoyx5.png');
	background-repeat: no-repeat;
}

.icon-boc4s-3qrkx {
	background-image: url('png/boc4s-3qrkx.png');
	background-repeat: no-repeat;
}

.icon-bu0hm-pk7j4 {
	background-image: url('png/bu0hm-pk7j4.png');
	background-repeat: no-repeat;
}