
.icon-lactose-btrans {
	background-image: url('png/lactose btrans.png');
	background-repeat: no-repeat;
}

.icon-lactose-gtrans {
	background-image: url('png/lactose gtrans.png');
	background-repeat: no-repeat;
}

.icon-lysine-btrans {
	background-image: url('png/lysine btrans.png');
	background-repeat: no-repeat;
}

.icon-lysine-gtrans {
	background-image: url('png/lysine gtrans.png');
	background-repeat: no-repeat;
}

.icon-triglyceride-btrans {
	background-image: url('png/triglyceride btrans.png');
	background-repeat: no-repeat;
}

.icon-triglyceride-gtrans {
	background-image: url('png/triglyceride gtrans.png');
	background-repeat: no-repeat;
}
